<li class="type active" data-id="introduce">
	简介
</li>
<li class="type" data-id="selector">
	选择器
</li>
<li class="type" data-id="ergodic">
	遍历
</li>
<li class="type" data-id="class">
	CLASS类
</li>
<li class="type" data-id="css">
	CSS类
</li>
<li class="type" data-id="attr">
	属性操作
</li>
<li class="type" data-id="dom">
	DOM操作
</li>
<li class="type" data-id="animation">
	动画
</li>
<li class="type" data-id="event">
	事件
</li>
<li class="type" data-id="ajax">
	AJAX
</li>
<li class="type" data-id="queue">
	函数队列
</li>
<li class="type" data-id="tool">
	常用工具
</li>
<li class="type" data-id="plugin">
	插件
</li>