html,
body,
div,
ul,
ol,
li,
dl,
dt,
dd,
table,
tr,
th,
td,
label,
input,
form,
span,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
object,
select,
option,
iframe {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
img {
  border: none;
}
a {
  font-family: "微软雅黑";
  text-decoration: none;
}
a:focus,
input {
  outline: none;
}
a:link {
  color: #000;
}
a:visited {
  color: #000;
}
a:hover {
  color: #000;
}
a:active {
  color: #000;
}
input::-ms-clear {
  display: none;
}
input::-ms-reveal {
  display: none;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
/*box-shadow:20px 0px 30px 10px #abcdef  inset;
这6个值分别是：left值 、top值、透明度、阴影外延宽度、颜色、向里凹陷（选填，默认为外延）
box-shadow: -2px 0 0 green, //左边阴影
   0 -2px 0 blue, //顶部阴影
   0 2px 0 red, //底部阴影
   0 0 0 yellow; //右边阴影
*/
html,
body {
  width: 100%;
  _width: 1280px;
  min-width: 1280px;
  height: 100%;
  font-family: "微软雅黑";
  overflow-y: hidden;
}
.header {
  width: 100%;
  height: 94px;
  text-align: center;
  background-color: #262727;
}
.header .text {
  position: absolute;
  left:30px;
  top:12px;
  color: #fff;
  font-size: 14px;
  font-style: oblique;
  letter-spacing: 1.5px;
}
.header .title {
  width: 280px;
  height: 100%;
  display: inline-block;
  position: relative;
}
.header p {
  line-height: 250%;
  display: inline-block;
  color: #fff;
  font-size: 34px;
  font-weight: 600;
  float: left;
}
.header .version {
  font-size: 14px;
  color: #fff;
  position: absolute;
  bottom: 16px;
  right: 0px;
  font-style: oblique;
}
.main {
  width: 100%;
  height: calc( 100% - 94px);
  position: relative;
}
.bar-left {
  width: 140px;
  height: 100%;
  float: left;
}
.bar-left .nav {
  width: 100%;
  height: auto;
   box-shadow: 8px 8px 8px #888; 
  -webkit-box-shadow: 8px 8px 8px #888; 
  -ms-box-shadow: 8px 8px 8px #888;  
  -o-box-shadow: 8px 8px 8px #888;  
  -moz-box-shadow: 8px 8px 8px #888; 
}
.bar-left .nav .type {
  font-weight: 600;
  font-size: 18px;
  line-height: 190%;
  padding-bottom: 5px; 
  cursor: pointer;
  text-indent: 30px;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  text-shadow: 
1px 1px 0 #ccc, 
2px 2px 0 #ccc, /* end of 2 level deep grey shadow */ 
3px 3px 0 #444, 
4px 4px 0 #444, 
5px 5px 0 #444, 
6px 6px 0 #444; /* end of 4 level deep dark shadow */ 
}
.bar-left .nav .type:hover {
  color: #3879d9;
}
.bar-left .nav .type.active {
  background-color: #0087ff;
  color: #fff;
}
.container {
  width: calc( 100% - 160px);
  height: 100%;
  max-width: 1200px;
  max-height: 560px;
  float: left;
  margin-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}
#backTop {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  background: #ccc;
  position: absolute;
  top: 50%;
  right: 50px;
  /*bottom: 30px;*/
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  display: none;
}
.type-con {
  width: 100%;
  height: 100%;
}

.sub-nav  {
  width: 100%;
  height: 70px;
  padding-top:4px; 
  padding-left:10px; 
  box-sizing: border-box;
}
.sub-nav li {
  float: left;
  line-height: 150%;
  cursor: pointer;
  padding: 2px 6px 2px 6px;
}
.sub-nav li.active {
  color: #fff;
  background: #262727;
}
.sub-nav li.active:hover {
  color: #fff;
}
.sub-nav li:hover {
  color: #3879d9;
}
.type-con .content {
  width: 100%;
  height: calc(100% - 80px);
  padding: 20px 20px 0px 20px;
  background: #fff;
  box-sizing: border-box;
}
.type-con .content .introduce-text {
	width: 720px;
	height: 200px;
	font-size:20px;
	margin: 0 auto;
	padding-top: 10px;
	box-sizing: content-box;
	border:1px solid #ccc ;
	box-shadow: 8px 8px 8px #888; 
  -webkit-box-shadow: 8px 8px 8px #888; 
  -ms-box-shadow: 8px 8px 8px #888;  
  -o-box-shadow: 8px 8px 8px #888;  
  -moz-box-shadow: 8px 8px 8px #888; 
}
.type-con .content .introduce-text p {
	margin-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
.type-con .content .introduce-text p:first-child {
	text-indent: 40px;
	margin-top: 10px;
}
.type-con .content li {
	margin-bottom: 20px;
	border-bottom: 1px dashed #0087ff;
}
