<li>
	<h3 class="title">queue</h3>
	<div class="content">
		queue(obj, fn);增加函数队列。
		obj：可选。对象，给对象或者元素增加函数队列，默认document。</br>
		fn：必需。函数或者数组，要加入队列的一个函数或者一个存储函数的数组。</br>
	</div>
</li>
<li>
	<h3 class="title">delay</h3>
	<div class="content">
		delay(obj, time);增加函数队列。
		obj：可选。对象，给对象或者元素增加队列延时，默认document。</br>
		time：必需。数字，单位毫秒，要延时的时间。</br>
	</div>
</li>
<li>
	<h3 class="title">dequeue</h3>
	<div class="content">
		delay(obj,fn);执行函数队列。
		obj：可选。对象，执行对象或者元素的函数队列，默认document。</br>
		fn：可选。函数，函数队列执行完毕的回调函数，可以获取队列的返回值，数组形式。</br>
	</div>
</li>